:root {
  --white: white;
  --black: black;
}

.navbar-no-shadow-container {
  z-index: 5;
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.container-regular {
  width: 100%;
  max-width: 1260px;
  min-height: 30px;
  margin-left: auto;
  margin-right: auto;
}

.navbar-wrapper {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.nav-menu {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-left: 0;
  display: flex;
}

.nav-link {
  color: #1a1b1f;
  letter-spacing: .25px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px 10px;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
}

.nav-link:hover {
  color: rgba(26, 27, 31, .75);
}

.nav-link:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.nav-link[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.nav-dropdown {
  margin-left: 5px;
  margin-right: 5px;
}

.nav-dropdown-toggle {
  letter-spacing: .25px;
  padding: 5px 30px 5px 10px;
  font-size: 14px;
  line-height: 20px;
}

.nav-dropdown-toggle:hover {
  color: rgba(26, 27, 31, .75);
}

.nav-dropdown-toggle:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-toggle[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-icon {
  margin-right: 10px;
}

.nav-dropdown-list {
  background-color: #fff;
  border-radius: 12px;
}

.nav-dropdown-list.w--open {
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-dropdown-link {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
}

.nav-dropdown-link:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-link[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-button-wrapper {
  margin-left: 120px;
}

.button-primary {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #1a1b1f;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}

.button-primary:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary:active {
  background-color: #43464d;
}

.hero-heading-left {
  grid-column-gap: 80px;
  background-image: url('../images/Hero-Heading-Left.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  min-height: 520.9px;
  padding: 64px 24px;
  text-decoration: none;
  display: flex;
}

.container {
  grid-column-gap: 80px;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  text-decoration: none;
  display: flex;
}

.column {
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.title-copy-goes-here-be-awesome {
  font-family: Changa One, Impact, sans-serif;
  display: block;
}

.column-2 {
  grid-column-gap: 10px;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.image-wrapper {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.image {
  background-color: #c4c4c4;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.title-copy-goes-here-be-awesome-0 {
  color: #ff5722;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 44px;
  font-weight: 400;
  line-height: 120%;
  text-decoration: none;
}

.title-copy-goes-here-be-awesome-1, .title-copy-goes-here-be-awesome-2 {
  color: #1c3aa9;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 44px;
  font-weight: 400;
  line-height: 120%;
  text-decoration: none;
}

.title-copy-goes-here-be-awesome-5 {
  color: #212121;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  text-decoration: none;
}

.hero-stack {
  grid-row-gap: 80px;
  background-color: #fff;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 64px 24px;
  text-decoration: none;
  display: flex;
}

.small-container {
  grid-row-gap: 40px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 960px;
  text-decoration: none;
  display: flex;
}

.title-section {
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.text {
  color: #ff5722;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Changa One, Impact, sans-serif;
  font-size: 44px;
  font-weight: 400;
  line-height: 120%;
  text-decoration: none;
}

.there-are-17-million-millennial-women-in-the-u-s-have-become-new-mother-at-different-stages-of-baby-development-mothers-face-different-challenges-after-six-months-the-challenge-shifts-to-effectively-communicating-and-engaging-emotionally-with-baby {
  font-family: Droid Serif, serif;
}

.image-wrapper-2 {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.image-2 {
  object-fit: cover;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.there-are-17-million-millennial-women-in-the-u-s-have-become-new-mother-at-different-stages-of-baby-development-mothers-face-different-challenges-after-six-months-the-challenge-shifts-to-effectively-communicating-and-engaging-emotionally-with-baby-0 {
  color: #ff5722;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 800;
  line-height: 150%;
  text-decoration: none;
}

.there-are-17-million-millennial-women-in-the-u-s-have-become-new-mother-at-different-stages-of-baby-development-mothers-face-different-challenges-after-six-months-the-challenge-shifts-to-effectively-communicating-and-engaging-emotionally-with-baby-1 {
  color: #212121;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  text-decoration: none;
}

.there-are-17-million-millennial-women-in-the-u-s-have-become-new-mother-at-different-stages-of-baby-development-mothers-face-different-challenges-after-six-months-the-challenge-shifts-to-effectively-communicating-and-engaging-emotionally-with-baby-2 {
  color: #1c3aa9;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 800;
  line-height: 150%;
  text-decoration: none;
}

.there-are-17-million-millennial-women-in-the-u-s-have-become-new-mother-at-different-stages-of-baby-development-mothers-face-different-challenges-after-six-months-the-challenge-shifts-to-effectively-communicating-and-engaging-emotionally-with-baby-4 {
  color: #1c3aa9;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  text-decoration: none;
}

.hero-stack-2 {
  grid-row-gap: 80px;
  background-color: #fbfbfb;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 64px 24px;
  text-decoration: none;
  display: flex;
}

.text-2 {
  color: #212121;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Droid Serif, serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  text-decoration: none;
}

.image-3 {
  object-fit: cover;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.team-circles {
  grid-row-gap: 64px;
  background-color: #fbfbfb;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 64px 24px;
  text-decoration: none;
  display: flex;
}

.features-list {
  grid-column-gap: 80px;
  background-color: #fbfbfb;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding: 64px 24px;
  text-decoration: none;
  display: flex;
}

.columns {
  grid-column-gap: 80px;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 960px;
  text-decoration: none;
  display: flex;
}

.column-3 {
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.content {
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding-top: 24px;
  padding-bottom: 24px;
  text-decoration: none;
  display: flex;
}

.intro {
  grid-row-gap: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.title {
  color: #ff5722;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Changa One, Impact, sans-serif;
  font-size: 44px;
  font-weight: 400;
  line-height: 120%;
  text-decoration: none;
}

.description {
  font-family: Droid Serif, serif;
}

.column-4 {
  grid-row-gap: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.feature {
  grid-column-gap: 24px;
  background-color: #ededed;
  border-radius: 8px;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 24px;
  text-decoration: none;
  display: flex;
}

.description-2 {
  color: #7b7b7b;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  line-height: 150%;
  text-decoration: none;
}

.description-0 {
  color: #212121;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  text-decoration: none;
}

.description-1 {
  color: #1c3aa9;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 800;
  line-height: 150%;
  text-decoration: none;
}

.description-3 {
  color: #ff5722;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 800;
  line-height: 150%;
  text-decoration: none;
}

.description-7 {
  color: #212121;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 800;
  line-height: 150%;
  text-decoration: none;
}

.description-8 {
  color: #212121;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 150%;
  text-decoration: none;
}

.hero-no-image {
  grid-row-gap: 80px;
  background-color: #fff;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 64px 24px;
  text-decoration: none;
  display: flex;
}

.small-container-2 {
  grid-row-gap: 40px;
  background-color: #fff;
  border-radius: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 960px;
  padding: 32px;
  text-decoration: none;
  display: flex;
}

.content-2 {
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.text-3 {
  font-family: Droid Serif, serif;
}

.how-might-we-craft-a-product-or-service-that-help-parents-who-are-tired-after-work-to-feel-energised-and-look-forward-to-having-a-relaxing-joyful-and-effective-interaction-with-their-24-30-month-old-babies-thereby-reducing-the-pressure-and-time-required-for-learning-to-interact-making-the-process-enjoyable-while-also-supporting-the-baby-s-effective-cognitive-development-in-recognising-shapes-and-colors-0 {
  color: #212121;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  text-decoration: none;
}

.how-might-we-craft-a-product-or-service-that-help-parents-who-are-tired-after-work-to-feel-energised-and-look-forward-to-having-a-relaxing-joyful-and-effective-interaction-with-their-24-30-month-old-babies-thereby-reducing-the-pressure-and-time-required-for-learning-to-interact-making-the-process-enjoyable-while-also-supporting-the-baby-s-effective-cognitive-development-in-recognising-shapes-and-colors-1 {
  color: #1c3aa9;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 800;
  line-height: 150%;
  text-decoration: none;
}

.how-might-we-craft-a-product-or-service-that-help-parents-who-are-tired-after-work-to-feel-energised-and-look-forward-to-having-a-relaxing-joyful-and-effective-interaction-with-their-24-30-month-old-babies-thereby-reducing-the-pressure-and-time-required-for-learning-to-interact-making-the-process-enjoyable-while-also-supporting-the-baby-s-effective-cognitive-development-in-recognising-shapes-and-colors-3 {
  color: #ff5722;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 800;
  line-height: 150%;
  text-decoration: none;
}

.hero-stack-3 {
  grid-row-gap: 80px;
  background-color: #fbfbfb;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 64px 24px;
  text-decoration: none;
  display: flex;
}

.brainstorm {
  color: #ff5722;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Changa One, Impact, sans-serif;
  font-size: 44px;
  font-weight: 400;
  line-height: 120%;
  text-decoration: none;
}

.we-have-brainstorm-several-ideas-to-tackle-this-problem {
  color: #212121;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Droid Serif, serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  text-decoration: none;
}

.image-wrapper-3 {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.image-12 {
  object-fit: cover;
}

.emoconnect-pal-which-can-customise-activities-that-take-care-of-new-mothers-current-emotional-state-allowing-her-to-play-with-ease-and-feel-relaxingenergized-and-fun-reducing-time-required-for-learning-to-interact-while-also-supporting-baby-s-effective-cognitive-development-thus-enhancing-emotional-communication-between-moms-and-children {
  font-family: Droid Serif, serif;
}

.emoconnect-pal-which-can-customise-activities-that-take-care-of-new-mothers-current-emotional-state-allowing-her-to-play-with-ease-and-feel-relaxingenergized-and-fun-reducing-time-required-for-learning-to-interact-while-also-supporting-baby-s-effective-cognitive-development-thus-enhancing-emotional-communication-between-moms-and-children-0 {
  color: #1c3aa9;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 800;
  line-height: 150%;
  text-decoration: none;
}

.emoconnect-pal-which-can-customise-activities-that-take-care-of-new-mothers-current-emotional-state-allowing-her-to-play-with-ease-and-feel-relaxingenergized-and-fun-reducing-time-required-for-learning-to-interact-while-also-supporting-baby-s-effective-cognitive-development-thus-enhancing-emotional-communication-between-moms-and-children-1 {
  color: #212121;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  text-decoration: none;
}

.bg-1 {
  object-fit: cover;
}

.features-list-2 {
  grid-column-gap: 80px;
  background-color: #fff;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding: 64px 24px 64px 70px;
  text-decoration: none;
  display: flex;
}

.columns-2 {
  grid-column-gap: 80px;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  max-width: 960px;
  text-decoration: none;
  display: flex;
}

.column-5 {
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.content-3 {
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding-top: 24px;
  padding-bottom: 24px;
  text-decoration: none;
  display: flex;
}

.description-9 {
  color: #000;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Droid Serif, serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  text-decoration: none;
}

.column-6 {
  grid-row-gap: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  max-width: 440px;
  height: 407px;
  text-decoration: none;
  display: flex;
}

.description-10 {
  color: #7b7b7b;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  line-height: 150%;
  text-decoration: none;
}

.hero-no-image-2 {
  grid-row-gap: 80px;
  background-color: #fbfbfb;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 64px 24px;
  text-decoration: none;
  display: flex;
}

.small-container-3 {
  grid-row-gap: 40px;
  background-color: #fbfbfb;
  border-radius: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 960px;
  padding: 32px;
  text-decoration: none;
  display: flex;
}

.content-4 {
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.hero-heading-left-2 {
  grid-column-gap: 80px;
  background-color: #fbfbfb;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding: 64px 24px;
  text-decoration: none;
  display: flex;
}

.column-7 {
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.title-copy-goes-here-be-awesome-6 {
  color: #ff5722;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Changa One, Impact, sans-serif;
  font-size: 44px;
  font-weight: 400;
  line-height: 120%;
  text-decoration: none;
}

.lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-suspendisse-varius-enim-in-eros-elementum-tristique-duis-cursus-mi-quis-viverra-ornare-eros-dolor-interdum-nulla-ut-commodo-diam-libero-vitae-erat {
  color: #212121;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Droid Serif, serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  text-decoration: none;
}

.column-8 {
  grid-column-gap: 10px;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.image-wrapper-4 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.image-13 {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.hero-heading-right {
  grid-column-gap: 80px;
  background-color: #fbfbfb;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding: 64px 24px;
  text-decoration: none;
  display: flex;
}

.image-14 {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.column-9 {
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.text-4 {
  color: #ff5722;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Changa One, Impact, sans-serif;
  font-size: 44px;
  font-weight: 400;
  line-height: 120%;
  text-decoration: none;
}

.select-your-mood-and-the-ai-assistant-will-recommend-todays-activity-for-engaging-with-your-baby-including-a-10-second-tutorial-video-to-simplify-learning-and-reduce-preparation-time {
  color: #212121;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Droid Serif, serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  text-decoration: none;
}

.hero-heading-left-3 {
  grid-column-gap: 80px;
  background-color: #fbfbfb;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding: 64px 24px;
  text-decoration: none;
  display: flex;
}

.title-copy-goes-here-be-awesome-7 {
  color: #ff5722;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Changa One, Impact, sans-serif;
  font-size: 44px;
  font-weight: 400;
  line-height: 120%;
  text-decoration: none;
}

.column-10 {
  grid-column-gap: 10px;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.image-15 {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.column-11 {
  grid-column-gap: 10px;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.image-16 {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.column-12 {
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.text-5 {
  color: #212121;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Droid Serif, serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  text-decoration: none;
}

.column-13 {
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.title-copy-goes-here-be-awesome-8 {
  color: #ff5722;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Changa One, Impact, sans-serif;
  font-size: 44px;
  font-weight: 400;
  line-height: 120%;
  text-decoration: none;
}

.image-17, .image-18 {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.column-14 {
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.text-6 {
  color: #212121;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Droid Serif, serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  text-decoration: none;
}

@media screen and (max-width: 991px) {
  .nav-menu-wrapper {
    background-color: rgba(0, 0, 0, 0);
  }

  .nav-menu {
    background-color: #fff;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-left: 0;
    display: flex;
  }

  .nav-link {
    padding-left: 5px;
    padding-right: 5px;
  }

  .nav-dropdown-list.shadow-three.w--open {
    position: absolute;
  }

  .nav-button-wrapper {
    width: 100%;
    margin-left: 0;
  }

  .menu-button {
    padding: 12px;
  }

  .menu-button.w--open {
    color: #fff;
    background-color: #a6b1bf;
  }

  .container, .columns, .columns-2 {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .navbar-brand {
    padding-left: 0;
  }

  .nav-menu {
    flex-direction: column;
    padding-bottom: 30px;
    padding-left: 0;
  }

  .nav-link {
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
  }

  .nav-dropdown {
    flex-direction: column;
    align-items: center;
    display: flex;
  }

  .nav-dropdown-toggle {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .nav-dropdown-list.shadow-three {
    box-shadow: 0 8px 50px rgba(0, 0, 0, .05);
  }

  .nav-dropdown-list.shadow-three.w--open {
    position: relative;
  }

  .nav-dropdown-list.shadow-three.mobile-shadow-hide {
    box-shadow: none;
  }

  .mobile-margin-top-10 {
    margin-top: 10px;
  }
}

@media screen and (max-width: 479px) {
  .nav-menu {
    flex-direction: column;
  }

  .nav-button-wrapper {
    width: auto;
  }
}
